body {
    
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
    overflow: hidden; /* Prevents scrolling when the button moves */
}

.question {
    font-size: 28px;
    color: #e94d58;
}

.gif {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
}

.btn-group {
    
    position: relative; /* Not required but keeps things organized */
    margin-top: 20px;
}

button {
    
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 10px; /* Add margin between buttons */
}

.yes-btn {
    margin-left: -100px;
    background-color: #e94d58;
    color: white;
    border: 2px solid #e94d58;
    border-radius: 20px;
    padding: 8px 50px;
    box-shadow: 4px 4px 8px rgba(53, 36, 23, 0.5);
}

.no-btn {
    
    background-color: white;
    color: #e94d58;
    border: 2px solid #e94d58;
    border-radius: 20px;
    padding: 8px 50px;
    box-shadow: 4px 4px 8px rgba(53, 36, 23, 0.5);
    position: absolute; /* This is required for the button to move */
}

button:hover {
    
    opacity: 0.8;
    scale: 1.05;
}


footer {
    background-color: #44fff6d8;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contact-info {
    font-size: 16px;
    color: #434ff8; /* Change this to your desired color */
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-left: 10px;
}

.social-icons {
    
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 24px;
    color: #9e6351;
    text-decoration: none;
}

.social-icons a:hover {
    color: #000;
    animation: bounces 2s infinite; /* Apply the bounce animation */
}

.copyright {
    color: #db2882; /* Change this to your desired color */
    font-size: 16px;
    display: flex;
    align-items: center;
}

.copyright i {
    margin-right: 5px;
}
@keyframes bounces {
    0%, 20%, 50%, 80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
